

/*Fonts*/



@font-face {
  font-family: 'Maven Pro';
}

@font-face {
  font-family: 'Raleway'; 
}

@font-face {
	font-family: 'Amatic SC';
}

/* Body*/

body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	 	-webkit-background-size: cover;
 	 	-moz-background-size: cover;
 	 	-o-background-size: cover;
 	background-size: cover;
	font-family: 'Raleway', sans-serif;
}


h1 {
	text-transform: lowercase;
	line-height: 24px;
	font-weight: 1.5em;
	word-spacing: 15px;
	letter-spacing: 4px;
}

h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 0 1px 3px #333;

}

.container{
	height: 225px;
	background-color: rgba(77, 77, 77, 0.5);
	position: absolute;
	top: 50px;
	display: inline-block;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.25) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */

}

/* Header*/

header {
	position: absolute;
	top: 30px;
	left: 30px;
}

/* Section*/
section {
	margin-left: 400px;
	margin-top: 100px;
	display:inline-block;
	
}

dl {
	background-color: black;
	color: white;
	padding: 5px;
	padding-left: 20px;
	width: 600px;
	font-weight: 100;
	line-height: 1.5em;
	font-size: 12px;
	text-shadow: 0 1px 3px #333;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);


}
a{
	color: white;
	text-decoration: none;
}


a:hover {
	color: #E3B5B8;
}


dd {
	padding-left: 20px;
}

dt:hover{
	background-color: gray;
}

dd:hover{
	background-color: gray;
}


/* Footer*/


/* Body*/

